.content {
  width: 100%;
  margin: 0 auto;
}

.user_login_menu {
  width: 25%;
  background-color: #00bfff;
  padding: 45px 0;
  float: left;
  margin-right: 1%;
}

.sign_in, .sign_up{
  background-color: #ffa07a;
  width: 80%;
  padding: 30px 0;
  text-align: center;
  margin: 30px auto;
  border: 2px solid #696969;
}

.products_slide_show{
  background-color: gray;
  width: 74%;
  height: 500px;
  float: left;
}